<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="41187FrdricHarper.OutofComfortZone" Version="1.0.0.0" Publisher="CN=1EF32174-9FDB-44DD-BFD6-11C64F525CEF" />
  <Properties>
    <DisplayName>Out of Comfort Zone</DisplayName>
    <Description>Metro Press</Description>
    <PublisherDisplayName>Frédéric Harper</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Out of Comfort Zone" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Out of Comfort Zone Windows 8 app" ForegroundText="dark" BackgroundColor="#ffffff" ToastCapable="true">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" ShortName="OOCZ" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#ffffff" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>